<main>
    <section class="main-section">
        <!-- Imagem -->
        <h1>You Should Jump In!</h1>
        <img src="/assets/svg/main-illustration.svg" alt="" height="500px">
    </section>
    <section class="forms-section">
        <!-- Formulario -->
        <div class="logo">
            <img src="/assets/svg/main-illustration.svg" alt="" height="50px">
            <h2>C³</h2>
        </div>
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="loginBtn" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >{{primaryBtnText}}</button>
            <div class="btn-divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="registerBtn" (click)="navigate()">{{secondaryBtnText}}</button>
        </div>
    </section>
</main>